/* es. 1 */
.ex-1-square{
    transition: background-color 1.5s ease 0s;
}

.ex-1-square:hover{
    background-color: red;
}

/* es. 2 */
.ex-2-square{
    transition: width 2s ease-in-out 0s;
}

.ex-2-square:active{
    width: 100%;
}

/* es. 3 */
.ex-3-square{
    transition: border-radius 0.4s ease-out 0s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* es. 4 */
.ex-4-square{
    transition: all 1s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* es. 5 */
.ex-5-square{
    transition: all 0.9s ease-out 0s;
}

.ex-5-square:hover{
    margin: -10px;
    width: 120px;
    height: 120px;
}

.ex-5-square:active{
    margin: 35px;
    width: 30px;
    height: 30px;
}

/* es. 6 */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* es. 7 */
.ex-7-img{
    transition: all 2s;
}

.ex-7-img:hover{
    filter: sepia(0.6) grayscale(0.4);
}

/* es. 8 */
.ex-8-img{
    transition: all 1s ease-in;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: saturate(0.4) sepia(0.5);
}

/* es. 9 */
.ex-9-img{
    transition: all 1.5s ease-out;
}

.ex-9-img:hover{
    width: 600px;
    margin-top: calc((326.35px - 339.533px) / 2);
    margin-bottom:  calc((326.35px - 339.533px) / 2);
    margin-left: 0;
    margin-right: 0;
    border-radius: 20px;
    filter: sepia(0.5) grayscale(0.5);
}

/* es. 10 */
.ex-10-icon{
    animation: spinning-icon 1s infinite linear;
}

@keyframes spinning-icon {
    
    from{
        transform: rotate(360deg)
    }
    to{
        transform: rotate(0deg)
    }
    
}

/* es.11 */
.ex-11-icon:hover{
    animation: not-full-spin 1.5s linear;
}

@keyframes not-full-spin{
    0%{
        transform: rotate(0deg);
    }
    85%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* es. 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: move-top-border 1.5s linear;
}

@keyframes move-top-border{
    0%{
        left: 10%;
    }

    50%{
        left: 135px;
    }

    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: move-bottom-border 1.5s linear;
}

@keyframes move-bottom-border{
    0%{
        right: 20%;
    }

    50%{
        right: 135px;
    }

    100%{
        right: 20%;
    }
}

/* es.13 */
.ex-13-button:hover .ex-13-top-white{
    animation: back-to-back-top-bord 2s linear;
}

@keyframes back-to-back-top-bord{
    0%{
        left: 10%;
        top: -10px;
    }
    30%{
        left: 170px;
        top: -10px;
    }

    50%{
        left: 170px;
        top: 100%;
    }

    80%{
        left: -30px;
        top: 100%;
    }

    100%{
        left: 0%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: back-to-back-bottom-bord 2s linear;
}

@keyframes back-to-back-bottom-bord{
    0%{
        right: 20%;
        bottom: -10px;
    }
    30%{
        right: 170px;
        bottom: -10px;
    }

    50%{
        right: 170px;
        bottom: 100%;
    }

    80%{
        right: -30px;
        bottom: 100%;
    }

    100%{
        right: 0%;
        bottom: -10px;
    }
}