/* es. 1 */
.ex-1-square{
    transition: background-color 1.5s ease 0s;
}

.ex-1-square:hover{
    background-color: red;
}

/* es. 2 */
.ex-2-square{
    transition: width 2s ease-in-out 0s;
}

.ex-2-square:active{
    width: 100%;
}